// Regular font family

$text-font: 'Montserrat', sans-serif;

// Colors
// Gray
$gray-alpha: #070623;
$gray-beta: #3b3a52;
$gray-gamma: #e8e8ec;
$gray-psi: #f2f2f5;
$gray-omega: #f6f6f6;
// Orange
$orange-alpha: #b86100;
$orange-beta: #e78f2e;
$orange-gamma: #fdb86a;
$orange-psi: #ffd7aa;
$orange-omega: #fff9f1;
// Primary
$primary-alpha: #008436;
$primary-beta: #21a657;
$primary-gamma: #4cb677;
$primary-psi: #8ed5ab;
$primary-omega: #e3f0e9;
// Red
$red-alpha: #b82300;
$red-beta: #e7512e;
$red-gamma: #fd866a;
$red-psi: #ffbaaa;
$red-omega: #fff4f1;
// Blue
$blue-alpha: #055374;
$blue-beta: #227091;
$blue-gamma: #47859f;
$blue-psi: #89b5c8;
$blue-omega: #e0e8ec;
